* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #012815;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  content: #272789;
}

.header{
color: #fff;
position: relative;
text-align: center;
font-size: 40px;
margin-bottom: 10px;
}

.date-time {
  color: #fff;
  background: #10101e;
  font-family: "segoe UI", sans-serif;
  padding: 15px 10px;
  border: 3px solid #2e94e3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(255, 255, 255, 0.1));
  transition: 0.5s;
  transition-property: background, box-shadow;
}

.date-time:hover {
  background: #2e94e3;
  box-shadow: 0 0 30px #2e94e3;
}

.date {
  font-size: 45px;
  font-weight: 60;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

time span:last-child {
  background: #2e94e3;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}


@media screen and (max-width:320px) {

.header{
font-size: 5px;
}

.date{
font-size: 10px;
}

.time{
font-size: 10px;
}
}

@media screen and (max-width:580px) {

  .header{
  font-size: 20px;
  }
  
  .date{
  font-size: 20px;
  }
  
  .time{
  font-size: 20px;
  }
}




@media screen and (max-width:800px) {

.header{
font-size: 30px;
}

.date{
font-size: 30px;
}

.time{
font-size: 30px;
}
}
  
